body{
    font-family: Arial;
    text-align: center;
    color: #c7f7ff;
    height: 100vh;
    overflow: hidden;
}

.font_video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    filter: brightness(0.4);
}

.banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow:  hidden;
    position: relative;
}

.banner .slider {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 20%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation:  autoRun 15s linear infinite;
    perspective: perspective(1000px);
    z-index: 2;
}
@keyframes autoRun{
    from {
        transform: perspective(1000px) rotateX(-10deg) rotateY(0deg);
    }to{
        transform:  perspective(1000px) rotateX(-10deg)  rotateY(-360deg);
    }
}

.banner .slider .item{
    position: absolute;
    inset: 0;
    transform:
        rotateY(calc((var(--position) - 1)* (360 / var(--quantify))* 1deg))
        translateZ(350px);
}

.banner .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .slider .item a{
    display: block;
    width: 100%;
    height: 100%;
}
.banner .slider .item a img{
    border-radius: 10px;
} 
.banner .slider .item a .clan1{
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0),
                0 0 10px rgb(0, 0, 0),
                0 0 10px rgb(0, 0, 0)
}

.banner .slider .item a .clan2{
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(14, 255, 14),
                0 0 10px rgb(14, 255, 14),
                0 0 10px rgb(14, 255, 14)
}

.banner .slider .item a .clan3{
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(25, 0, 255),
                0 0 10px rgb(25, 0, 255),
                0 0 10px rgb(55, 0, 255)
}
.banner .slider .item a .clan4{
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(255, 255, 255),
                0 0 10px rgb(255, 255, 255),
                0 0 10px rgb(255, 255, 255)
}
.banner .content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;  /* centra el h1 */
    z-index: 1;
}

.banner .content h1{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16mm;
    line-height: 1em;
    border-radius: 20px;
    box-shadow: 0px 0px 20px #a9edff;
    z-index: 2;
}

.banner .content h1::after{
    position: absolute;
    inset: 0;
    content: attr(data-content);
    z-index: 2;
    box-shadow: 
        0 0 20px rgba(255, 230, 0, 0.6),
        0 0 40px rgba(0, 0, 255, 0.5),
        0 0 60px rgba(255, 0, 255, 0.4),
        0 0 80px rgba(0, 200, 255, 0.3);
}

.banner .content .author,
.banner .content h2 {
    position: absolute;
    right: 100px;
    color: #a9edff;
    box-shadow: 
        0 0 20px rgba(255, 230, 0, 0.6),
        0 0 40px rgba(0, 0, 255, 0.5),
        0 0 60px rgba(255, 0, 255, 0.4),
        0 0 80px rgba(0, 200, 255, 0.3);
    border: 2px rgb(0,200,255,0.4);
    text-align: right 10px;
    border-radius: 20%;
}

.banner .content .author {
    top: 60%;
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
}

.banner .content h2{
    bottom: 93%;
    font-size: 1em;
    border-radius: 35%;
}

.banner .content .model{
    background-image: url(/IMG/Logo_atlanti.png);
    width: 380px;
    height: 380px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    border-radius: 50%;
    border: 0px solid transparent;
    box-shadow: 
        0 0 20px rgba(255, 230, 0, 0.6),
        0 0 40px rgba(0, 0, 255, 0.5),
        0 0 60px rgba(255, 0, 255, 0.4),
        0 0 80px rgba(0, 200, 255, 0.3);
}